.nav-wrapper{
   background-color: #9ACD32;
   height: 7rem;
}

.logo {
    width: 23rem;
    height: 7rem; 
    position: relative;  
}

.right li{
    padding-top: 3rem;  
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 280px;
}
.card-image{
   
    width: 5rem;
  height: 7rem;
}
.card-title{
    margin-left: 8rem;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.btn-floating.halfway-fab{
    margin-bottom: 2rem;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: green;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 5rem;
    height: 7rem;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}


